app-sticky-header {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  color: #086aa7;
  font-size: 2rem;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 10rem !important;
}

app-sticky-header h1 {
  font-family: "Times New Roman";
  font-size: 2rem;
}
