<section class="search-sec">
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-5">
              <input type="text" class="form-control search-slt" [formControl]="searchInput" placeholder="Enter Search">
            </div>
            <div class="col-sm-5">
              <div class="io">
                <h3 class="text-center">Mosaic Photo Grid</h3>
              </div>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn wrn-btn" (click)="onLogout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
